{% extends "layout.html" %}
{% block body %}
<table class="table table-striped">
    <thead>
    <tr>
        <td>id</td>
        <td>Name</td>
        <td>Color</td>
    </tr>
    </thead>
    <tbody>
        {% for t in tags %}
        <tr>
            <td>{{t.id}}</td>
            <td>{{t.name}}</td>
            <td>{{t.color}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<form style="display: none;" id="tag_form" action="/api/new_tag" method="POST">
    <input type="text" name="name" placeholder="Tag name" required>
    <input type="text" name="color" placeholder="Tag color hex" required>
    <input type="submit">
</form>
<button onclick="unhide_tag_form()">Add new</button>
{% endblock %}